- provide(:name, 'Edit Your Profile')
%h1 Editing user
%div.row
  %div.span6.offset3
    = render 'shared/error_messages'
    %div
      = form_for (@user) do |u|
        = u.label :name
        = u.text_field :name
        = u.label "Password"
        = u.password_field :password
        = u.label "Password Confirmation"
        = u.password_field :password_confirmation
        = u.submit "Save changes", class: "btn btn-large btn-primary"
= link_to 'Show', @user |
= link_to 'Back', users_path
